@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500/60 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-blue-500/20 rounded-full;
}

.bg-gradient {
  @apply bg-gradient-to-br from-blue-700 to-pink-700;
}

.text-gradient {
  @apply bg-gradient-to-r from-blue-700 to-pink-700 text-transparent bg-clip-text;
}

.btn-gradient {
  @apply bg-gradient-to-br from-blue-700 to-pink-700 hover:from-blue-800 hover:to-pink-800 active:from-blue-900 active:to-pink-900;
}
